    <section>

      <div class="bloc_recherche">
        <div class="half_box_icon">
          <i class="fas fa-map-marker-alt"></i>
        </div>

        <div class="desktop_search_box">
          <form method="post" action="traitement.php" class="research-form">
            <input type="text" name="recherche" id="recherche" />
            <button type="submit" id="submit">Rechercher</button>
        </div>

        <!-- Barre de recherche mobile -->
        <div class="mobile_search_icone">
          <form method="post" action="traitement.php" class="research-form">
            <input type="text" name="recherche" id="recherche" />
            <button type="submit" id="submit">

              <div class="loupe_search">
                <i class="fas fa-search"></i>
              </div>
            </button>
        </div>

        <!-- fin de la version mobile -->
        </form>
      </div>
    </section>
    <!--filtres-->
    <section>
      <div class="filtres_box">
        <div class="filtres_main_titre">
          <h3>Filtres</h3>
        </div>

        <div class="filtres_container">
          <div class="filtres_card">
            <div class="round_box_icon">
              <i class="fas fa-money-bill-wave" style="color: #0065fc"></i>
            </div>
            <div class="filtres_titres">
              <nav>
                <ul>
                  <li><a href="#">Nom</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="filtres_card">
            <div class="round_box_icon">
              <i class="fas fa-child" style="color: #0065fc"></i>
            </div>
            <div class="filtres_titres">
              <nav>
                <ul>
                  <li><a href="#">Prix</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="filtres_card">
            <div class="round_box_icon">
              <i class="fas fa-heart" style="color: #0065fc"></i>
            </div>
            <div class="filtres_titres">
              <nav>
                <ul>
                  <li><a href="#">Categorie</a></li>
                </ul>
              </nav>
            </div>
          </div>

          

        </div>
      </div>

      <div class="info_box">
        <div class="icone_info">
          <i class="fas fa-info" style="color: #0065fc"></i>
       

    </section>

   
  