{% extends 'back.html.twig' %}



{% block body %}
<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4" style="background-image: url('{{ asset('Frontend/assets/images/slide-05.jpg') }}'); background-size: cover; background-position: center; background-repeat: no-repeat;">        <div class="container">


<div class="container">

            <div class="row justify-content-center">
               
                            
                        
                    </div><!-- End Logo -->
                    </section>
{% endblock %}