{% block stylesheet %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/helpers.esm.min.js" integrity="sha512-urWBnIv+F027G24xDNigjxvIuwnWlWy94W2yx77VkISKLzKSohOKOubMDhtEF6LZcEH7gctmNSpxDqIW/zMmUg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block body %}
<div class="chart-container" style="position: relative; height: 80vh; width: 70vw; margin: 0 auto; aspect-ratio: auto; margin-top: 8em">
    <canvas style="aspect-ratio: auto" id="lieuChart"></canvas>
</div>
{% endblock %}

{% block javaScript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let lieuChart = document.querySelector("#lieuChart");
            let lieuData = {{ lieuData|raw }};

            let data = {
                labels: lieuData.map(entry => entry.lieu),
                datasets: [{
                    label: "Répartition des événements selon leurs lieux",
                    data: lieuData.map(entry => entry.nombre),
                    backgroundColor: ["red", "green", "pink", "blue", "purple", "pink", "cyan", "brown", "magenta"]
                }]
            };

            let options = {
                responsive: true,
                maintainAspectRatio: false
            };

            let lieuChartInstance = new Chart(lieuChart, {
                type: "pie",
                data: data,
                options: options
            });
        });
    </script>
{% endblock %}
