{% extends 'front.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    <section id="nouvelle-user">
        {{ include('user/_form.html.twig') }}
    </section>
{% endblock %}
